// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.mr-1 {
  margin-right:1em
}
.level {
  display:flex; align-items:center;
}
.flex {
  flex:1;
}

.add-button {
  border-radius:50%;
  box-shadow: 2px 2px 0 2px rgba(0, 0, 0, 0.2);
}